.options a {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    padding: 16px 14px;
    color: white;
    z-index: 3;
    text-align: center;

}
a:hover {
    color: green;
    background-color: black;
}

.options {
    position: relative;
    width: 100%;
    background-color: black;
    z-index: 1;
    overflow : hidden;
    text-align: center;

}