#Post {
    position: relative;
    padding-left: 30px;
    padding-top: 30px;
    padding: 30px;
    width: 30%;
}
#box {
    position: relative;
    padding: 30px;
    padding-bottom:30px;
    border-radius: 20px;
    border: solid;
    width: 35%;
    top:30px;
    background-color: #CBD4D5; 
    opacity: .4;
    z-index: -1;
}

#allwords {
    z-index: 100;
    font-weight: bold;
    
}

#your-words {
    z-index: 100;
    font-weight: bold
}


#Button {
    position: relative;
    top:60px;

}

#box2 {
    position: absolute;
    padding: 30px;
    border-radius: 20px;
    border: solid;
    width: 50%;
    left: 650px;
    top: 200px;
    background-color: #CBD4D5; 
    opacity: .4;
    z-index: -1;
}


#post-button {
    border-radius: 20px;

}

#post-button:hover {
    background-color: #8ED2D6;
    
}
